# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

*.gif filter=lfs diff=lfs merge=lfs -text
dependency-manifest/uv.lock linguist-generated=true
dependency-manifest/android/*.lockfile linguist-generated=true
dependency-manifest/web-xr-build/package-lock.json linguist-generated=true
